body{
    background-image: url('bg.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#parent{
    display:flex;
    position:absolute;
    width: 80vw;
    height:55vw;
    align-items:center;
}
#topbox{
    position:absolute;
    top: 0%;
    right:4%;
    width: 350px;
    height:30px;
}
#container1{
	float: left;
	background-color: #000000;
	opacity: .8;
	position: absolute;
    color:lightskyblue;
    top:6%;
    right:4%;
	width : 800px;
	height: 45px;
}
.nav-link{
	color: rgba(132,173,204,255);
	padding-right:25px;
	padding-left:25px;
}
.nav-link:hover{
	color : white;
	background-color: gray;
	border-radius: 10px;
}
.nav-link:active{
    color:rgba(132,173,204,255); 
    text-decoration: underline;
    background-color: gray;
}
.img{
    z-index: 1;
    height: 100px;
    width: 140px;
    float: left;
    position: absolute;
    top: 2%;
    left :26% ;
    }
#container{
    position: absolute;
    padding:10px;
    opacity: .8;
    top: 26.4%;
    right: 4%;
    height: 120px;
    width: 800px;
    background-color:#000000 ;
    display:flex;
    justify-content:space-between;
}
.ele1{
    filter: brightness(250%);
    height: 100px;
    width: 250px;
    margin-top:0px;
}
.ele2{
    height: 100px;
    width: 250px;
    margin-top:0px;
}
.ele3{
    height: 100px;
    width: 250px;
    margin-top:0px;
}
#container img{
    width: 240px;
}
#text-box{
    position: absolute;
    top: 42.3%;
    right:4%;
    background-color: #000000;
	opacity: .8;
    padding:10px;
    height: 400px;
    width: 800px;
    /*background-color: #10223a;*/
    display:flex;
    justify-content:space-between;
}
.ele{
    background-color: #000000;
	opacity: .8;
    height: 386px;
    width: 350px;
    margin: 20px;
    margin-top: 0px;

}
.ele p{
    color:white;
    font-size: small;
    word-spacing: 1px;
}
div.box{
    position: absolute;
	float: left;
	background-color: #000000;
	opacity: .5;
	position: relative;
	width : 800px;
	height: 25px;
    right: -22.8%;
    bottom: -48%;
}
#text{
    color: black;
    margin: 0;
    text-align: left;
}
#fluid{
    background-color: rgb(73, 61, 61);
    opacity:.5;
    float: left;
    letter-spacing: 5px;
    position: absolute;
    top: 12%;
    left: 22.8%;
    width: 800px;
    height:109px;
    padding-top: 10px;
    padding-left: 10px;
    font-family: 'roboto',sans-serif;
}
